body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #003366);
  }
  
  .app-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustar para la parte derecha */
    margin-bottom: 20px;
  }
  
  .logo-icon {
    font-size: 50px;
    color: #007bff;
    margin-right: 15px;
  }
  
  .title {
    font-size: 24px;
    color: white;
  }
  
  .opinion-container {
    display: flex;
    align-items: center;
  }
  
  .opinion-text {
    margin-right: 10px;
    font-size: 16px;
    color: white;
  }
  
  .like-icon, .dislike-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #007bff;
  }
  
  .like-icon:hover, .dislike-icon:hover {
    color: #00bfff;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 80%;
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
  }
  
  .error-message {
    color: #ff4d4d;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .results-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .result-item {
    display: flex;
    align-items: flex-start;
    background: rgba(200, 200, 200, 0.2); /* Fondo gris transparente */
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .result-item:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .result-item div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .result-item strong {
    font-size: 18px;
    color: #33b5ff; /* Azul claro para los títulos */
    margin-bottom: 5px;
  }
  
  .result-item p {
    margin: 0;
    color: #555;
    font-size: 14px;
  }
  